body{
    background-color: #383838;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: header;
}

section{
    grid-area: section;
    border: solid;
}

table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header" "header" "section" "section";

}

input{
    width: 80%;
    border-radius: 6px;
    border: 1.5px solid rgb(73, 73, 73);
    padding: 6px;
    background-color:#727272;
    margin-bottom: 10px;
    outline: none;
    color: white;
}

input:focus{
    background-color:#a1a1a1;
    border: 1.5px solid rgb(105, 105, 105);
}

label{
    font-size: large;
    font-weight: bold;
    color: white;
}


#container{
    border: solid #4e4e4e 2px;
    padding: 20px;
    border-radius: 6px;
    width: 40%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #4e4e4e;
    min-width: 325px;
}

button{
    margin-top: 5px;
    flex-direction: row;
    border-radius: 6px;
    border: 1px solid black;
    align-self: center;
    padding: 7px 20px;
    margin-top: 20px;
    margin-right: 25px;
    font-size: large;
    border: none;
}

#Submit{
    background-color: rgb(82, 159, 230);
    color: white;
}

#Submit:hover{
    background-color: rgb(66, 140, 209);
    transition: 0.3s;
}

#Reset{
    background-color: rgb(126, 126, 126);
    color: white;
}

#Reset:hover{
    background-color: rgb(112, 112, 112);
    transition: 0.3s;
}

#titulo{
    color: rgb(138, 203, 233);
};
