<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/style.css" type="text/css">
    <script>
        function reset() {
            let reset = document.getElementById("Reset")
            reset.addEventListener('reset', onclick)
         }
         
    </script>
</head>
<body>
    <main>
        <h1 id="titulo">Cadastro de animal</h1>

            <form action="/index" id="form" method="post">
                <label for="">Nome do animal</label>
                <input type="text" value='' name="nomeDoAnimal" >
    
                <label for="">Idade do animal</label>
                <input type="number" id="idadeDoAnimal" >

                <label for="">Peso do animal</label>
                <input type="text" id="pesoDoAnimal" >

                <label for="">Porte do animal</label>
                <input type="text" id="porteDoAnimal" >

                <label for="">Raça do animal(opcional)</label>
                <input type="text" id="racaDoAnimal">
    
                <label for="">Descrição do animal</label>
                <input type="text" id="descricaoDoAnimal" >

                <label for="">Vacinas:</label><br>
                <label for="">Raiva:</label>
                <input type="checkbox" id="raiva">
    
                <div id="buttons">
                    <button type="submit" id="Submit">Confirmar</button>
                    <button type="reset" id="Reset">Limpar</button>
                </div>
            </form>    

            <img src="<%= gato %>" alt="">
            <img src="<%= cao %>" alt="">     
    </main>
</body>
</html>