<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/style.css" type="text/css">
    <script>
        function reset() {
            let reset = document.getElementById("Reset")
            reset.addEventListener('reset', onclick)
         }
         
    </script>
</head>
<body>
    <main>
        <div id="container">
            <center><h1 id="titulo">Cadastro de animal</h1> </center>
                <form action="/index" id="form" method="post">
                    <header>
    
                        <label for="">Nome do animal:</label>
                        <label for="">Idade do animal:</label>
                        <input type="text" name="nomeDoAnimal" required autocomplete="off">
                        <input type="number" name="idadeDoAnimal" required autocomplete="off" min="0">
    
                        <label for="">Peso do animal:</label>
                        <label for="">Porte do animal:</label>
                        <input type="number" name="pesoDoAnimal" required autocomplete="off" min="0">
                        <input type="text" name="porteDoAnimal" required autocomplete="off" >
    
                        <label for="">Descrição do animal:</label>
                        <label for="">Raça do animal(opcional):</label>
                        <input type="text" name="descricaoDoAnimal" required autocomplete="off">
                        <input type="text" name="racaDoAnimal" autocomplete="off">
    
                    </header>
                
    
    
                    <center>
                    <div id="buttons">
                        <button id="Submit">Confirmar</button>
                        <button id="Reset">Limpar</button>
                    </div>
                    </center>
            </form>  
            </div>  

            <img src="<%= gato %>" alt="">
            <img src="<%= cao %>" alt="">     
            <script src="./public/script.js"></script>
    </main>
</body>
</html>